@font-face {
    font-family: 'Inclusive Sans';
    font-display: swap; // swap/optional
    src: url('assets/fonts/InclusiveSans-Variable.woff2') format('woff2'),
        url('assets/fonts/InclusiveSans-Variable.woff') format('woff'),
        url('assets/fonts/InclusiveSans-Variable.ttf') format('truetype');
    font-style: normal;
}