// Breakpoints
// Content-first logic (mobile first with native behavior taken into account)
$breakpoints: (
	'md': 640px,
	'l': 860px,
	'xl': 1200px,
	'xxl': 1680px
);

// Colors
$colors: (
	// Neutral
	'neutral-050': #F7F9FC,
	'neutral-100': #D8E2F1,
	'neutral-200': #B0C2DC,
	'neutral-300': #94A8C7,
	'neutral-400': #798FB0,
	'neutral-500': #62779C,
	'neutral-600': #53688B,
	'neutral-700': #425471,
	'neutral-800': #32435C,
	'neutral-900': #26344B,

	// Primary
	'primary-050': #FEF7FB,
	'primary-100': #F8D8EB,
	'primary-200': #EFADD5,
	'primary-300': #E888C1,
	'primary-400': #E05DAB,
	'primary-500': #D13693,
	'primary-600': #BE217F,
	'primary-700': #A40162,
	'primary-800': #83024F,
	'primary-900': #680440,

	// Secondary
	'secondary-050': #FBF7FE,
	'secondary-100': #ECDAFB,
	'secondary-200': #D7B2F6,
	'secondary-300': #C096E1,
	'secondary-400': #A67CC8,
	'secondary-500': #8F64B2,
	'secondary-600': #8054A4,
	'secondary-700': #6A418C,
	'secondary-800': #573077,
	'secondary-900': #472265,


	// Tertiary
	'tertiary-050': #EEFCFB,
	'tertiary-100': #A9EDEA,
	'tertiary-200': #72D0CD,
	'tertiary-300': #46B7B2,
	'tertiary-400': #1E9C98,
	'tertiary-500': #168480,
	'tertiary-600': #107370,
	'tertiary-700': #0B5D5B,
	'tertiary-800': #094B48,
	'tertiary-900': #073A39,

	// Information
	'info-050': #F5F9FC,
	'info-100': #CFE4F2,
	'info-200': #9AC6E5,
	'info-300': #73ADD8,
	'info-400': #5793BE,
	'info-500': #3F7CA7,
	'info-600': #306C98,
	'info-700': #20577F,
	'info-800': #1A4665,
	'info-900': #14364F,

	// Negative
	'negative-050': #FDF7F7,
	'negative-100': #F7DADA,
	'negative-200': #EEB1B1,
	'negative-300': #E68F8F,
	'negative-400': #DC6A6A,
	'negative-500': #C74F4F,
	'negative-600': #B83B3B,
	'negative-700': #A11F1F,
	'negative-800': #841616,
	'negative-900': #6A0D0D,

	// Positive
	'positive-050': #F1FCF3,
	'positive-100': #B6EFC2,
	'positive-200': #63D77F,
	'positive-300': #42BD6A,
	'positive-400': #20A253,
	'positive-500': #178849,
	'positive-600': #117742,
	'positive-700': #0B6037,
	'positive-800': #094D2C,
	'positive-900': #073D23,
);

// Typography
$font-main: "Fira Sans", "Helvetica Neue", Helvetica, sans-serif;
//$font-main: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
$font-code: consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-line-height-body: 1.5;
$font-line-height-pre: 1.6;

// Columns
$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns-margin: 3.8%;

// Widths here and there
$w-container: 1362px;
$w-titles: 990px;
