/**
 * Card System
 */
.card {
	--r: 66;
	--g: 11;
	--b: 89;
	--card-background: var(--wp--preset--color--neutral-050);
	--card-text-color: var(--wp--preset--color--neutral-700);
	--card-title-color: var(--wp--preset--color--primary-700);
	--card-title-color-hover: var(--wp--preset--color--primary-900);
	--card-padding: 12px 32px;
	--card-meta-background: var(--wp--preset--color--primary-100);
	--card-meta-color: var(--wp--preset--color--primary-700);

	color: var(--card-text-color);
	background: var(--card-background);
	border-radius: 24px;
	overflow: hidden;
	box-shadow: 0px 18px 58px rgba(var(--r), var(--g), var(--b), 0.07),
				0px 6.5703px 21.171px rgba(var(--r), var(--g), var(--b), 0.0482987),
				0px 3.18976px 10.2781px rgba(var(--r), var(--g), var(--b), 0.0389404),
				0px 1.56368px 5.03852px rgba(var(--r), var(--g), var(--b), 0.0310596),
				0px 0.618281px 1.99224px rgba(var(--r), var(--g), var(--b), 0.0217013);


	&,
	&-content {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// When in list.
	&-list {

	}

	&-item {

	}

	// Usual content
	&-image {

	}

	&-content {
		height: 100%;

		h1 {
			margin: 0;
			font-size: 1.25rem;
			line-height: 1.55;
			color: var(--card-title-color);

			a {
				color: inherit;
				text-decoration: none;
				background-size: auto 0;

				&:hover,
				&:focus {
					color: var(--card-background);
					background-size: auto 1.75em;
				}
			}
		}

		header {
			padding: var(--card-padding);
		}

	}

	&-description {
		margin-top: 0;
		padding: var(--card-padding);
	}

	&-cta {
		margin: auto 0 8px 0;
		padding: var(--card-padding);
	}

	// When has a meta line.
	&-meta {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0;
		padding: var(--card-padding);
		padding-top: 12px;
		padding-bottom: 12px;
		background: var(--card-meta-background);
		color: var(--card-meta-color);

		.card-meta-name {
			line-height: .8; // SVG bug that adds line-heigh to the svg size.
			margin-right: 8px;
		}

		&-value {
			font-size: 0.875rem;
			font-weight: 700;
		}

		a {
			color: inherit;

			&:hover,
			&:focus {
				color: var(--card-background);
			}
		}

		dd + dt {
			margin-left: auto;
		}
	}

	@include dark {
		--r: 27;
		--g: 7;
		--b: 70;
		--card-background: var(--wp--preset--color--neutral-800);
		--card-text-color: var(--wp--preset--color--neutral-200);
		--card-title-color: var(--wp--preset--color--neutral-100);
		--card-title-color-hover: var(--wp--preset--color--neutral-050);
		--card-meta-background: var(--wp--preset--color--neutral-700);
		--card-meta-color: var(--wp--preset--color--neutral-050);
	}

	&-list + &-list {
		margin-top: var(--blog-gap, 40px);
	}
}