/**
 * The Page container
 */
[id="page"] {
	.blog & {
		overflow-x: hidden;
	}
}

/**
 * Containers
 */
.container {
	width: $w-container;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 16px;

	@media (min-width: 640px) {
		padding: 0 24px;
	}

	&.is-bleeding {
		width: auto;
	}

	&.is-medium {
		width: 120ch;
	}
}

.section {
	--section-padding: 80px;
	--section-background: #fff;
	--section-color: inherit;
	--section-title-color: var(--gc-color-primary);

	margin: 0;
	padding: var(--section-padding) 0;
	background: var(--section-background);
	color: var(--section-color);

	@media (min-width: 640px) {
		--section-padding: 160px;
	}

	// some exceptions
	+ .section:not(.has-ovale),
	main + & {
		padding-top: 0;
	}

	&.has-small-padding {
		--section-padding: 40px;

		@media (min-width: 640px) {
			--section-padding: 80px;
		}
	}

	&.is-alt {
		--section-background: var(--gc-color-background-alt);
	}

	&.is-dark {
		--section-background: var(--wp--preset--color--neutral-900);
		--section-color: var(--wp--preset--color--neutral-200);
		--section-title-color: var(--wp--preset--color--primary-500);

		&.is-darker {
			position: relative;

			.container {
				position: relative;
			}

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				background: rgba(0,0,0,.15);
			}
		}

		+ .is-dark {
			margin-top: -40px;
			padding-top: 24px;
		}
	}

	&.is-reference {
		position: relative;
	}

	&.is-small-section {
		padding: 16px 0;

		@media (min-width: 640px) {
			padding: 24px 0;
		}
	}

	&-title {
		position: relative;
		padding-bottom: 32px;
		text-align: center;
		color: var(--section-title-color);

		&:after {
			--c1: var(--wp--preset--color--secondary-700);
			--c2: var(--wp--preset--color--secondary-500);
			--c3: var(--wp--preset--color--secondary-300);
			--c4: var(--wp--preset--color--secondary-200);

			content: '';
			width: 48px;
			height: 16px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background: radial-gradient(circle, var(--c1), var(--c1) 7px, transparent 7.5px), radial-gradient(circle at 4.5px 50%, var(--c3), var(--c3) 4px, transparent 4.5px), radial-gradient(circle at 43.5px 50%, var(--c3), var(--c3) 4px, transparent 4.5px);
		}

		&.is-text-left {
			text-align: left;

			&:after {
				transform: none;
				left: 0;
				background: radial-gradient(circle at 8px 50%, var(--c2), var(--c2) 7px, transparent 7.5px), radial-gradient(circle at 26px 50%, var(--c3), var(--c3) 6px, transparent 6.5px), radial-gradient(circle at 42px 50%, var(--c4), var(--c4) 4px, transparent 4.5px);
			}
		}
	}

	&-subtitle {
		position: relative;
		max-width: 600px;
		margin: 0 auto 40px;
		text-align: center;
		font-size: 1.25rem;
		line-height: 1.55;

		&.is-text-left {
			text-align: left;
		}

		&.archive-description {
			max-width: 840px;
			font-size: 1.125rem;
		}
	}

	&-cta {
		margin-top: 56px;
	}
}