/**
 * Basic HTML Elements
 */
body {
	// Text and background for main contents
	--gc-color-primary: var(--wp--preset--color--primary-700);
	--gc-color-text: var(--wp--preset--color--neutral-700);
	--gc-color-background: #FFFFFF;
	--gc-color-background-alt: var(--wp--preset--color--secondary-050);

	// Links
	--gc-color-link-visited: var(--wp--preset--color--secondary-700);
	--gc-color-link-hover: var(--wp--preset--color--primary-800);

	// Forms
	--gc-input-border-color: var(--gc-color-primary);
	--gc-input-background: var(--wp--preset--color--primary-200);

	// Some default values
	padding: 0;
	margin: 0;
	color: var(--gc-color-text);
	background: var(--gc-color-background);
}

/**
 * Box Sizing
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	background: #A40162; // to make the scroll top colored.
	color: white; // to make it accessible, but not texts should appear there.
	padding: 0;
	margin: 0;
}

::-moz-selection {
	background: var(--gc-color-primary);
	color: white;
}
::selection {
	background: var(--gc-color-primary);
	color: white;
}

/**
 * Base HTML Elements
 */

body,
button,
input,
select,
optgroup,
textarea {
	font-family: $font-main;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1,
.section-title {
	margin-top: 0;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;

	@media (min-width: 640px) {
		font-size: 3rem;
	}
}

h3,
.h3-like {
	font-size: 1.6rem;
	color: var(--wp--preset--color--neutral-700);
}

p {
	margin-bottom: 1.7em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	display: flex;
	margin: 0 1.75em;

	&::before {
		content: '“';
		color: var(--wp--preset--color--tertiary-100);
		font-size: 10rem;
		line-height: 1;
	}

	p {
		font-size: 2.375rem;
		line-height: 1.55;
	}
}

address {
	margin: 0 0 1.75em;
}

pre {
	background: var(--wp--preset--color--neutral-900);
	margin-bottom: 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	color: var(--wp--preset--color--neutral-100);

	code {
		color: inherit;
	}
}

code:not(pre code) {
	padding: 4px 4px 3px 4px;
	vertical-align: middle;
	color: var(--wp--preset--color--tertiary-600);
	background: var(--wp--preset--color--tertiary-100)
}

@import 'plugin-pastacode';

code,
kbd,
tt,
var,
pre {
	font-family: $font-code;
}

abbr,
acronym {
	border-bottom: 1px dotted var(--wp--preset--color--neutral-300);
	cursor: help;
}

mark,
ins {
	background: yellow;
	text-decoration: none;
}

big {
	font-size: 125%;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

ol {
	--ol-counter-bg: var(--wp--preset--color--information-100);
	--ol-counter-txt: var(--wp--preset--color--information-700);
	
	padding: 0;
	margin: 2em auto;
	list-style: none;
	counter-reset: ollvl1;

	> li {
		position: relative;
		padding-left: 2.75rem;
		margin: .5em 0;
		counter-increment: ollvl1;

		&::before {
			content: counter(ollvl1);
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2rem;
			height: 2rem;
			font-size: 1rem;
			color: var(--ol-counter-txt);
			background: var(--ol-counter-bg);
			border-radius: 56% 44% 42% 58% / 41% 50% 50% 59%;
		}
	}
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

//a:not(.comment-reply-link):not([class*=button]) {
a {
	--effect-color: var(--gc-color-primary);
	--link-color: var(--gc-color-primary);

	position: relative;
	color: var(--link-color);
	transition: all .3s;
	text-decoration: none;
	background: linear-gradient(to top, var(--effect-color), var(--effect-color)) left 100% no-repeat;
	background-size: auto 1px;

	&:visited {
		--effect-color: var(--gc-color-link-visited);
		--link-color: var(--gc-color-link-visited);
	}

	&:hover,
	&:focus {
		--link-color: var(--wp--preset--color--neutral-050);
		background-size: auto 1.7em;
		border-radius: 4px;

		&:active {
			--link-color: var(--wp--preset--color--neutral-050); 
		}
	}

	&:active {
		--effect-color: var(--gc-color-link-hover);
		--link-color: var(--gc-color-link-hover);
	}

	&:focus-visible {
		outline: 2px dotted var(--effect-color);
		outline-offset: 4px;
		border-radius: 4px;
	}

	.is-dark & {
		--effect-color: var(--wp--preset--color--neutral-050);
		--link-color: var(--wp--preset--color--neutral-050);

		&:hover,
		&:focus {
			--link-color: var(--wp--preset--color--neutral-900);		}

		&:active {
			--gc-color-link-hover: var(--wp--preset--color--neutral-200);
		}
	}

	&:has(img) {
		background: transparent;
	}
}