/**
 * Logo List
 */
.logos {
	display: flex;
	flex-wrap: wrap;
	margin-top: 8px;
	justify-content: space-between;
	gap: 56px 64px;

	a[href] {
		display: inline-flex;
		--effect-color: transparent;

		&:focus-visible {
			color: var(--wp--preset--color--primary-600);
			outline: 2px solid currentColor;
			outline-offset: 2px;
		}
	}
}