/**
 * Footer
 */
.site-footer {
	.footer {
		&-title {
			margin-bottom: 24px;
			color: var(--wp--preset--color--neutral-500);
			font-size: 1.25rem;
			font-weight: 700;

			span {
				font-weight: 400;
			}
		}

		&-logo {
			margin: 40px auto 0 auto;
		}
	}

	li + li {
		margin: .75em 0;
	}

	a {
		--effect-color: var(--wp--preset--color--neutral-300);
		--link-color: var(--wp--preset--color--neutral-300);

		position: relative;
		display: inline-block;
		padding-bottom: .25em;
		text-decoration: none;

		&:hover,
		&:focus {
			padding-block: .125em;
			background-size: auto 2.7em;
		}
	}
}

/**
 * Social List
 */
.social-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	li + li {
		margin-left: 8px;
	}

	a {
		display: flex;
		padding: 0;
		width: 3rem;
		height: 3rem;
		justify-content: center;
		align-items: center;
		background: var(--wp--preset--color--neutral-700);
		border-radius: 50%;

		&::after {
			content: none;
		}
	}
}

.site-info {
	+ p {
		margin-top: 2em;
		color: var(--wp--preset--color--neutral-500);
	}
}