/**
 * Header
 */
.site-header {
	.container {
		display: flex;
		justify-content: space-between;
	}
}

/**
 * Navigation
 */
.site-header {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul {
		display: flex;
	}

	a {
		display: block;
	}
}

.site-title {
	margin: 0;
	padding: 16px 0;

	a {
		background: none;
	}

	@media (min-width: 640px) {
		padding: 32px 0;
	}

	@media (max-width: 640px) {
		img {
			width: 200px;
		}
	}
}
	
.menu-toggle {
	display: none;
}